@media(max-width:840px){
    body{
        font-size: 6px;
    }
    .aside{
        width: 20vw;
    }
    .main-sec-innerpage{
        width: 80vw;
        padding: 1.5rem;
    }

    .sidebar-list{
        margin: 1rem;
    }
    .list-img{
        width: 2.5rem;
    }
    .list-text{
        font-size: 1.3rem;
        margin: 0.7rem;
    }
    .snackbar{
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .snackbar div{
        width: 100%;
    }
}


@media(max-width:750px){
    .list-text{
        display: none;
    }
    .aside{
        width: fit-content;
    }
    .sidebar{
        width: fit-content;
    }
    .main-sec-innerpage{
        width: 100%;
    }
}

@media(max-width:700px){
    .header-div1, .header-div2{
        padding: 1rem 1.5rem;
    }
    .img-menubar{
        width: 1.3rem;
    }
    .img-headerlogo{
        width: 10rem;
    }
    .img-searchicon{
        margin-left: 3rem;
    }
    .header-Searchspan, .text-john{
        font-size: 1.4rem;
        font-weight: 800;
    }
    .img-profile{
        width: 3.8rem;
        margin-right: 1rem;
    }
    .img-notifi{
        width: 1.8rem;
        margin-right: 2.7rem;
    }
}

@media(max-width:576px){
    .padding-1{
        padding: 1rem;
    }
}

@media(max-width:500px){
    .main-sec{
        padding: 0.8rem;
    }
    .header-div1, .header-div2{
        padding: 1rem;
    }
    .img-menubar{
        width: 1rem;
    }
    .img-headerlogo{
        width: 7rem;
    }
    .img-searchicon{
        margin-left: 2.2rem;
    }
    .header-Searchspan, .text-john{
        font-size: 1.1rem;
        font-weight: 800;
    }
    .img-profile{
        width: 3.2rem;
        margin-right: 1rem;
    }
    .img-notifi{
        width: 1.5rem;
        margin-right: 2.5rem;
    }
    .main-sec-innerpage{
        width: 100%;
    }
    .sidebar-list{
        margin: 0.5rem;
    }
    .list-img{
        width: 2rem;
    }
    .list-text{
        font-size: 1rem;
        margin: 0.7rem;
    }
}